{# templates/logviewer.html #}

{% extends "base.html" %}

{% block content %}

<label id="valid_log" hidden>{{ appinfo._valid_file_name }}</label>

<div class="row my-4">
    <form id="logfile_form" method="post" action="">
        <div class="col">
            <label for="cbo_text_filename" class="form-input-label" style="width: 5rem">Log file</label>
            <select class="form-select-sm" id="cbo_text_filename" name="cbo_text_filename" aria-label="cbo_text_filename">
                {% for text_file_id, text_file_name in appinfo._textfiles.items() %}
                <option value="{{ text_file_id }}" {{ 'selected' if appinfo._selected_textfile_nm==text_file_name }}>
                    {{ text_file_name }}
                </option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>

<div id="log_window" 
     class="container-fluid font-monospace mb-4 lh-1 fs-6 overflow-scroll bg-dark text-white text-nowrap"
     style="width: 98vw; height: calc(100vh - 160px);">
    File content to be displayed here....
</div>

<script src="/static/js/viewfile.js"></script>
{% endblock content %}