{# templates/logviewer.html #}

{% extends "base.html" %}

{% block content %}

<label id="valid_log" hidden>{{ appinfo._valid_file_name }}</label>

<div class="row my-3">
    <form id="viewfile_form">
        <div class="row g-3 mx-1">
            <div class="col">
                <label for="cbo_text_filename" class="form-input-label">File&nbsp;&nbsp;&nbsp;</label>
                <select class="form-select-sm" id="cbo_text_filename" name="cbo_text_filename"
                    aria-label="cbo_text_filename">
                    {% for text_file_id, text_file_name in appinfo._textfiles.items() %}
                    <option value="{{ text_file_id }}" {{ 'selected' if appinfo._selected_textfile_nm==text_file_name
                        }}>
                        {{ text_file_id }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <!-- <div class="col-1">
                <button type="submit" class="btn btn-sm btn-primary disabled" id="submit_button">View</button>
            </div> -->

            <div class="col">
                <label for="cbo_start_pos" class="form-input-label">Start</label>
                <select class="form-select-sm vw-25" id="cbo_start_pos" name="cbo_start_pos" aria-label="cbo_start_pos">
                    {% for start_pos in ['head','center','tail'] %}
                    <option value="{{ start_pos }}" {{ 'selected' if appinfo.start_pos==start_pos }}>
                        {{ start_pos }}
                    </option>
                    {% endfor%}
                </select>
            </div>

            <div class="col-8">
                <!-- <label for="filter_text" class="form-input-label">Filter</label> -->
                <input type="text" class="form-control border border-secondary" id="filter_text" name="filter_text"
                value="{{ appinfo.filter_text }}" placeholder="Filter text" aria-label="Filter text">
                <div class="invalid-feedback" id="filter_text_feedback"></div>
            </div>

        </div>
    </form>

    <div class="row btn-group mt-2 mx-1">
        <div class="col-1">
            <button type="submit" class="btn btn-sm btn-primary disabled" id="submit_button">View</button>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-sm btn-primary disabled" id="pause_button" data-bs-toggle="button">Pause</button>
        </div>
    </div>
</div>

<!-- contenteditable="true" -->

<div id="log_window" tabindex="0" class="container-fluid font-monospace mb-2 lh-1 fs-6 overflow-auto bg-dark text-white text-nowrap 
            border border-3 border-secondary" style="width: 96vw; height: calc(100vh - 185px);">
    File content to be displayed here....
</div>

<script src="/static/js/viewfile.js"></script>
{% endblock content %}